################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TarExtractor-Docker/bin
/TarExtractor-Docker/obj
/.vs
*.suo
